{% if commentsr %}

             {% for comment in commentsr %}
			
			 <div class="comm_loop">
			 
			 <div class="comm_avatar">
			 <a class="answer west" href="#editor" title="ответить" onClick="$('#editor').insertAtCursor('<b>{{ comment.atom.name }}</b>, ', false); return false;"></a>
{{ comment.atom.avatar }} 

</div>
 <div class="comm_name">Комментарий оставил: {{ comment.atom.name_a }} 
 <div style="float:right">{{ comment.atom.moder_panel }}</div>
 
 <div class="">Дата добавления: {{ comment.date }} </div></div>
<div class="comm_message">  {{ comment.atom.message }}
{% if comment.atom.editdate %}<div class="edit_comm">   <span>Комментарий был изменён: {{ comment.atom.editdate }}</span></div>{% endif %}
</div>
</div>
			 

			 {% endfor %}

{% endif %}
