{{ editor_body }}

<script type="text/javascript">
$(function() {
    $('[list=findusers]').keyup(function() {
        if ($('[list=findusers]').val().length > 2) {
            $.get('/users/search_niks/?name='+$('[list=findusers]').val(), {}, function(data){
                $('#findusers').html(data);
            });
        } else {
            $('#findusers').html('');
        };
    });
    return;
});
</script>
<form name="sendMailForm" id="sendForm" action="{{ context.action }}" method="POST" onsubmit="sendu('sendForm'); return false">
<div class="user_style">
	    <div class="uProfile_title">Почтовый ящик(Список переписок)</div>
		  <div class="user_cont">
	  <div class="pm_block">
		  <ul class="userslinks">
		         <li><a href="{{ www_root }}/users/info/{{ fps_user_id }}">Мой профиль</a></li>
				 <li><a href="{{ www_root }}/users/in_msg_box/">Личные сообщения</a></li>
                 <li><a href="{{ www_root }}/users/out_msg_box/">Отправленные</a></li>
				 <li class="active"><a href="{{ www_root }}/users/send_pm_form/">Отправить ЛС</a></li> 
				 <li class="detete">Очистить диалог: <input id="packButton" type="button" disabled="disabled" onClick="sendPack('/users/delete_messages_user/');" value="(0)">
	             <div style="display:none;"><form id="actionPack" action="" method="POST" onsubmit="sendu('actionPack');return false;"></form></div></li> 
		  </ul>
		   </div>
		    <div class="userinfo">
		    <ul class="spisok-all">
            <li style="height:39px;">
              <span class="siu_title">Кому: <strong><font color="red">*</font> </strong>
			
              <span class="siu_data">
			    <input type="text" class="input_add" name="toUser" id="toUser" maxlength="30" value="{{ context.touser }}" list="findusers" />
				<datalist id="findusers"></datalist>
			  </span>
            </li>
			<li>
              <textarea {{ editor_text }} name="mainText" class="pmtextarea">{{ context.main_text }}</textarea>
            </li>
		
		    </ul>
			<div class="submit_add" align="center"> <input type="submit" name="submitForm" value="Отправить"> </div>
	      </div>
	  </div>
 </div>
</form>