<div class="user_style">
	  <div class="uProfile_title">Профиль пользователя - {{ user.name }}</div>
	  <div class="uProfile">
      <div class="uProfile_avatar"><img class="avatar"  title="{{ user.name }}" src="{{ user.avatar }}" alt=""/>
	 {% if user.edit_profile_link %}<div class="edit_link_user">{{ user.edit_profile_link }}</div>	 {% endif %}
	  	  <ul class="userslinks" style="margin-top:16px;">
	      {% if fps_user_id == user.id %}
				 <li><a class="edit_user_group" href="{{ www_root }}/users/pm/">Мои сообщения</a></li>
                 <li><a class="edit_user_group" href="{{ www_root }}/users/pm/">Отправленные</a></li>
				 {% endif %}
				 {% if fps_user_id != user.id %}
				 {% if user.privatemessage %}	
				 <li><a class="edit_user_group" href="{{ www_root }}/users/send_pm_form/{% if fps_user_id != user.id %}{{ user.id }}{% endif %}">Отправить ЛС</a></li>
                 {% endif %}
		        {% endif %}
				
		  </ul>
		
	  </div>
	  <div class="uProfile_information">
	 <ul>
	 <li>
	 <span class="uProfile_left">Ваше имя на сайте </span>
	  <span class="uProfile_right">{{ user.name }} </span>
	 </li>
	 {% if user.full_name %}<li>
	<span class="uProfile_left">Полное имя:</span>
	<span class="uProfile_right">{{ user.full_name }}</span>
	</li>{% endif %}
	
	
	 
	  <li>
	 <span class="uProfile_left">Группа пользователя: </span>
	 <span class="uProfile_right"> {% if checkAccess([module,'edit_users']) %}
	 {% if fps_id == user.id %} {{ user.group }}{% else %}
	 <div class="group_edit" style="margin-top:-11px;"><form id="groupForm_{{ user.id }}">
	 <select name="group" onchange="document.getElementById('infomess_group_{{ user.id }}').innerHTML = ''">
	 {% for group in fps_users_groups %} {% if group.id %}
	 <option {% if user.status == group.id %} selected {% endif %} value="{{ group.id }}">{{ group.title }}</option>
	{% endif %}{% endfor %} </select>
	<input class="edit_user_group" type="button" id="edit_user_group" value="Изменить" onClick="setGroup({{ user.id }}, 'groupForm_{{ user.id }}');" />
	<div class="information_edit_user" id="infomess_group_{{ user.id }}"></div></form></div>
	{% endif %}{% else %} {{ user.group }} {% endif %} </span>
	 </li>
	 <li>
	 <span class="uProfile_left">Регистрация: </span>
	  <span class="uProfile_right">{{ user.regdate }} </span>
	 </li>
	 
	 <li>
	<span class="uProfile_left">Звание на сайте:</span>
	<span class="uProfile_right">{{ getUserRatingText(user.posts) }}</span>
	</li>
	 
	 
	 {% if user.telephone %}
	<li>
	 <span class="uProfile_left">Телефон:</span>
	<span class="uProfile_right"> {{ user.telephone }}</span>
	</li>
	{% endif %}
	{% if user.age %}
	<li>
	<span class="uProfile_left">Возраст:</span>
	<span class="uProfile_right"> {{ user.age }} </span>	
	</li>
	<li>
	<span class="uProfile_left">День рождения:</span>
	<span class="uProfile_right">{{ user.byear }}-{{ user.bmonth }}-{{ user.bday }}</span>
	</li>
	{% endif %}
	{% if fps_user_id != user.id %}
	<li>
	<span class="uProfile_left">E-mail</span>
	<span class="uProfile_right"><a href="{{ www_root }}/users/send_mail_form/{{ user.id }}">Отправить на почту</a></span>
	</li>
	{% endif %}
			 
				 
				 
 	{% if user.url %}
	<li>
	<span class="uProfile_left">WEB - site:</span>
   <span class="uProfile_right">{{ user.url }}</span>
	</li>
	{% endif %}
                                    <li>
										<span class="uProfile_left">Пол:</span>
                                        <span class="uProfile_right">{% if user.pol %} {{ user.pol }} {% else %} Не указан {% endif %}</span>
									</li>
									{% if user.city %}
									<li>
										<span class="uProfile_left">Город:</span>
                                        <span class="uProfile_right">{{ user.city }}</span>
									</li>
									{% endif %}
									{% if user.icq %}
									<li>
									<span class="uProfile_left">Номер в ICQ:</span>
                                       <span class="uProfile_right">{{ user.icq }}</span>
									</li>
									{% endif %}
									{% if user.jabber %}
									<li>
										<span class="uProfile_left">Jabber:</span>
                                        <span class="uProfile_right">{{ user.jabber }}</span>
									</li>
{% endif %}
{% if user.lastpost %}
<li>
<span class="uProfile_left">Последнее сообщение:</span>
<span class="uProfile_right">{{ user.lastpost }}</span>
</li>
{% endif %}
{% if user.about %}
<li>
<span class="uProfile_about"><div class="name">Интересы:</div> {{ user.about }}</span>
                                     
</li>
{% endif %}
	 
	 </ul>
	
	 <ul>
	  {% if user.stat %}
	 {% for stat in user.stat %}
	 {% if stat.count %}
	 <li><span class="uProfile_left">{{ stat.text }}</span><span class="uProfile_right"><a href="{{ stat.url }}" class="east" title="Материалы пользователя"> {{ stat.count }} </a> </span></li>
     {% endif %}
	 {% endfor %}
	  {% endif %}
<li>
<span class="uProfile_about"> 
<div class="uProfile-rep">
 {% if checkAccess(['users','set_rating']) %}
<a class="uProfile-repPlus animation" href="javascript:void(0)" onClick="$('#setRating_{{ user.id }}').show();">+</a>
<a class="uProfile-repMinus animation" href="javascript:void(0)" onClick="$('#setRating_{{ user.id }}').show();">-</a>
{% endif %}

 {% if user.rating %}
 {% if user.rating >= 1 %}
<a class="uProfile_rep_num rep_good" href="javascript:void(0)" onClick="showFpsWin('{{ www_root }}/users/votes_story/{{ user.id }}', '', 'История рейтинга ({{ user.name }})');">Репутация: {{ user.rating }}</a>
{% else %}
<a class="uProfile_rep_num rep_bad" href="javascript:void(0)" onClick="showFpsWin('{{ www_root }}/users/votes_story/{{ user.id }}', '', 'История рейтинга ({{ user.name }})');">Репутация: {{ user.rating }}</a>
{% endif %}
{% else %}
<a class="uProfile_rep_num" href="javascript:void(0)" onClick="showFpsWin('{{ www_root }}/users/votes_story/{{ user.id }}', '', 'История рейтинга ({{ user.name }})');">Репутация: {{ user.rating }}</a>
{% endif %}

</div>
</span>
</li>
 </ul>
	
 </div>
	
</div>
</div>  

	
<style>
#setRating_{{ user.id }} {}
#addWarning_{{ user.id }} {}
#infomess_{{ user.id }}, #winfomess_{{ user.id }} {margin-top: 5px;text-align: center;}
#ratingForm_{{ user.id }} {}
#warningForm_{{ user.id }} {}
</style>	
<div id="setRating_{{ user.id }}" class="fps-fwin" style="display:none;">
<div class="drag_window">
    <div class="fps-title" onmousedown="drag_object(event, this.parentNode)">Голос для <b>{{ user.name }}</b></div>
    <div onClick="$('#setRating_{{ user.id }}').hide()" class="fps-close"></div>
    <div class="fps-cont">
    	<form id="ratingForm_{{ post.author.id }}">
					<fieldset><legend>Действие: </legend>
						<input type="radio" name="points" value="1" />Повысить уровень репутации на 1<br />
						<input type="radio" name="points" value="0" />Оставить уровень репутации без изменения<br />
						<input type="radio" name="points" value="-1" />Понизить уровень репутации на 1<br />
						</fieldset>
						
						<fieldset><legend>Причина изменения: </legend>
						<textarea class="reson_rating" name="comment"></textarea><br />
						</fieldset>
						
						<input type="button" value="Изменить" onClick="setRating({{ post.author.id }}, 'ratingForm_{{ post.author.id }}');" />
					</form>
        <div id="infomess_{{ user.id }}"></div>
    </div>
</div>
</div>
<div id="addWarning_{{ user.id }}" class="fps-fwin" style="display:none;">
    <div class="drag_window">
        <div class="fps-title" onmousedown="drag_object(event, this.parentNode)">Замечание для <b>{{ user.name }}</b></div>
        <div onClick="$('#addWarning_{{ user.id }}').hide()" class="fps-close"></div>
        <div class="fps-cont">
            <form id="warningForm_{{ user.id }}">
                <fieldset>
                    <legend><b>Действие</b></legend>
                    <input type="radio" name="points" value="1">[+]Повысить уровень замечаний<br />
                    <input type="radio" name="points" value="-1">[-]Понизить уровень замечаний(снять бан)<br />
                </fieldset>
                <fieldset>
                    <legend><b>Причина</b></legend>
                    <textarea style="width:96%;" name="cause"></textarea>
                </fieldset>
                <fieldset>
                    <legend><b>Бан</b></legend>
                    <input style="width:50px;margin:2px;" type="text" name="cnt" value="" />
                    <select style="width:80px;margin:2px;" name="mult">
                        <option value="h">Часа</option>
                        <option value="d">Дней</option>
                        <option value="w">Недель</option>
                        <option value="m">Месяцев</option>
                        <option value="y">Лет</option>
                    </select>
					<br/>
                    <input type="checkbox" name="permanently" value="1" />Навсегда
                </fieldset>
                <fieldset>
                    <legend><b>Уведомление</b></legend>
                    <input type="checkbox" name="noticepm" value="1" />Личные сообщения
                </fieldset>
                <fieldset>
                    <input type="button" value="Отправить" onClick="addWarning_({{ user.id }}, 'warningForm_{{ user.id }}');" />
                </fieldset>
            </form>
            <div id="winfomess_{{ user.id }}"></div>
        </div>
    </div>
</div>