<!doctype html>
<html>
<head>
<title>{{ title }}</title>

<meta name="description" content="{{ meta_description }}" />
<meta name="keywords" content="{{ meta_keywords }}" />
<meta charset="UTF-8" />

<meta name='author' content='Andrey Brykin' />
<meta name='robots' content='index, follow' />
<meta name='rating' content='general' />
<meta name='generator' content='Atom-M CMS 2.3.2' />

<link rel="shortcut icon" href="{{ template_path }}/favicon.ico" type="image/x-icon" />
<link type="text/css" rel="StyleSheet" href="{{ template_path }}/css/style.css" />
<script type="text/javascript" src="{{ www_root }}/data/js/jquery.js"></script>
<script type="text/javascript" src="{{ www_root }}/data/js/atom.js"></script>
<script type="text/javascript" src="{{ www_root }}/data/js/jquery.form.min.js"></script>
<script type="text/javascript" src="{{ template_path }}/js/default.js"></script>
{{ editor_head }}

<script type="text/javascript">
{% if fps_user_id %}
	check_pm('{{ fps_user_id }}');
{% endif %}
</script>
<!-- FancyBOX -->
<link type="text/css" rel="StyleSheet" href="{{ template_path }}/css/fancy.css" />
<script type="text/javascript" src="{{ template_path }}/js/jquery.fancybox.js"></script>
<!--/FancyBOX -->
</head>

<body>
<div class="headpanel">
 <div class="linksap">
<div class="activewindow"><a href="#">Язык</a><div class="lang" style="width: 70px;"><span>RUS<br>ENG</span></div></div>
<div><a href="http://atomx.net/users/info/227/" rel="nofollow">Контакты</a></div>
<div><a href="https://bitbucket.org/atom-m/cms" rel="nofollow">Bitbucket</a></div>
<div><a href="http://atomx.net/forum/view_theme/1058" rel="nofollow">Поддержка</a></div></div>
 <div class="userlinksap">
{% if fps_user_id %}
<div><a href="{{ www_root }}/users/pm/">Сообщения</a></div>
<div class="activewindow"><a href="{{ personal_page_link }}">{{ fps_user_name }}</a><div class="miniprofileadm" style="width: 300px;padding: 10px;{% if fps_admin_access == 1 %}height:120px;{% endif %}">
    <span class="avatarminpro"><img class="avatar" src="{{ fps_user_avatar_url }}" alt=""/></span>
    <span class="uslinkminpro">
        <a href="{{ personal_page_link }}">Мой профиль</a>
        <a href="{{ www_root }}/users/send_pm_form/">Отправить сообщение</a>
		<a href="{{ www_root }}/users/edit_form/{{ fps_user_id }}">Настройки</a>
        {% if fps_admin_access == 1 %}
		<a href="{{ www_root }}/admin/" target="_blank">Админка</a>
		{% endif %}
    </span>
</div></div>
<div><a href="{{ www_root }}/users/logout">Выход</a></div>
{% else %}
<div class="ulogin">{{ ulogin }}</div>
<div><a href="{{ www_root }}/users/add_form">Регистрация</a></div>
<div class="activewindow"><a href="{{ www_root }}/users/login_form/">Войти</a>
<div style="width: 250px;"><span>
<form id="mloginForm" action="/users/login/" method="post">
	Логин: <input type="text" class="loginad" name="username">
	Пароль: <input type="password" class="passad" name="password">
	Автовход: <input type="checkbox" name="autologin" value="1">
	<button type="submit" onclick="sendu('mloginForm'); return false" class="buttonadm">ВОЙТИ</button>
	<input type="hidden" value="submit" name="submitForm">
</form>
</span></div></div>
{% endif %}
<div><a href="{{ www_root }}/users/">Пользователи</a></div>
 </div>
</div>
<div class="global">
<div class="header">
   <div class="logohead"></div>
   <div class="infohead">
     <div class="infoblock">
	   <div class="download">
	     <a class="downloadbutton" href="https://bitbucket.org/atom-m/cms/get/current.zip" target="_blank" rel="nofollow">
		   <div><div class="nameload">DOWNLOAD ATOM-M</div>
		   <div class="infoload">FILE IS 4.7MB(.ZIP)</div></div>
		 </a>
	     <a class="ahother" href="https://bitbucket.org/atom-m/cms/downloads" rel="nofollow">Cкачать другие версии Atom-M</a>
	     <a class="knownot" href="https://bitbucket.org/atom-m/cms/wiki/%D0%A3%D1%81%D1%82%D0%B0%D0%BD%D0%BE%D0%B2%D0%BA%D0%B0_%D0%B8_%D0%BE%D0%B1%D0%BD%D0%BE%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5#markdown-header-_1" rel="nofollow">Не знаете как установить?</a>
	   </div>
	   <div class="info1"><b>Atom-M CMS</b> - Это инструмент для создания сайтов любой сложности, людьми не имеющими профессиональных навыков. Множество готовых шаблонов позволят выбрать вам подходящий дизайн. И это все абсолютно БЕСПЛАТНО!</div>
	   <div class="info2">
	   <div class="l">
	   50+<br>
	   15+<br>
	   5000+<br>
	   5 лет<br>
	   100+
	   </div>
	   <div class="r">
	   Шаблонов<br>
	   Модулей<br>
	   Пользователей<br>
	   Разработки<br>
	   Дополнений
	   </div>
	   </div>
	 </div>
	 <div class="sots">
	   <a href="https://bitbucket.org/atom-m/cms/wiki/">ДОКУМЕНТАЦИЯ</a>
	   <a href="http://atomx.net/loads/category/5/">ШАБЛОНЫ</a>
	   <a href="http://atomx.net/forum/view_theme/362/">СНИППЕТЫ</a>
	   <a href="http://atomx.net/forum/view_forum/38/">ПЛАГИНЫ</a>
	   <a href="http://atomx.net/forum/view_forum/2/">МОДУЛИ</a>
	 </div>
   </div>
</div>

<div class="sider">
    <div class="sidertop bigmenu">
	  {{ mainmenu }}
	  <div class="search">
	   <form method="POST" action="{{ www_root }}/search/"> 
        <input type="hidden" name="subaction" value="search"> 
        <input name="search" placeholder="Найти что-нибудь..." type="text"> 
        <input value="GO!" type="submit" name="send"> 
       </form> 
	  </div>
	</div>
	<!---------------------------------------------------------------------------CONTENT/----------------------------------------------------------------------------------------------->
<div class="content">
    <div class="spedbar">
       <div>
        <div>{{ navigation }}</div>
       </div>
    </div>
	<a href="{{ www_root }}/forum/last_posts/" class="lastpostsbutton button">Последние сообщения</a>
    <div style="clear:both;"></div>
    <div class="materials" id="full">
	
		{{ content }}
		
		<div class="material">
           <div class="inftitle">Сейчас online: <b>{{ all_online }}</b>. Зарегистрированных: <b>{{ users_online }}</b>. Гостей: <b>{{ guests_online }}</b>. </div>
	       <div class="infcont">{{ online_users_list }}</div>
	    </div>
    </div>
</div>
	<!---------------------------------------------------------------------------/CONTENT----------------------------------------------------------------------------------------------->
</div>
<!--------------------------------------------------------CHAT----------------------------------------------------------------------------------------------------------------------------->
{% if fps_chat %}
<div class="footerbottom">
  <div class="butofooter"><a class="buttonfutokno" onclick="ochat()">Общий ЧАТ</a>
    <div class="messegesokno" id="ochat" style="display:none;">
      <span class="headfutbutton"><span id="switchsound"></span>Общий чат<span class="closebuttonfut" onclick="ochat()"></span></span>
	  {{ fps_chat }}
    </div>
  </div>
</div>
{% endif %}
<!--------------------------------------------------------FOOTER-BUTTONS------------------------------------------------------------------>
<div class="footer">
<div class="people"><span>Сообщество</span>{{ mainmenu }}</div>
<div class="support"><span>Поддержка</span>
<a href="#">Пользовательское соглашение</a>
<br><a href="https://bitbucket.org/atom-m/cms/wiki/" rel="nofollow">Документация</a>
<br><a href="#">Правила сайта</a>
<br><a href="#">Заказать рекламу</a>
<br><a href="{{ www_root }}/sitemap.xml">Карта сайта</a>
</div>
<div class="faposcms"><span>Atom-M CMS</span>
<a href="https://bitbucket.org/atom-m/cms/downloads/" rel="nofollow">Скачать CMS</a>
<br><a href="https://bitbucket.org/atom-m/cms/wiki/%D0%92%D0%B8%D0%B4%D0%B5%D0%BE%D1%83%D1%80%D0%BE%D0%BA%D0%B8_Fapos_CMS" rel="nofollow">Видео-руководство</a>
<br><a href="https://bitbucket.org/atom-m/cms/issues/" rel="nofollow">Сообщить о баге</a>
</div>
<div style="float: right;padding: 0;">
<div class="socnet" style="display:block;">
<a href="https://vk.com/atomm_cms/" target="_blank" class="vk" title="ВКонтакте" rel="nofollow"></a>
<a href="https://twitter.com/AtomM_CMS" target="_blank" class="twitter" title="Twitter" rel="nofollow"></a>
<a href="https://www.facebook.com/fapos" target="_blank" class="fb" title="Facebook" rel="nofollow"></a>
<a href="#" target="_blank" class="goplus" title="Google Plus" rel="nofollow"></a>
<!--<a href="#" class="github" title="GitHub" rel="nofollow"></a>-->
<a href="https://bitbucket.org/atom-m/cms" target="_blank" class="bitbucket" title="BitBucket" rel="nofollow"></a>
<a href="#" target="_blank" class="youtube" title="YouTube" rel="nofollow"></a>
<a href="#" target="_blank" class="skype" title="Skype" rel="nofollow"></a>
<span class="rss">
   <div>
      <a href="{{ www_root }}/news/rss/" target="_blank" title="RSS - Новости" rel="nofollow">Новости</a>
      <a href="{{ www_root }}/stat/rss/" target="_blank" title="RSS - Статьи" rel="nofollow">Статьи</a>
      <a href="{{ www_root }}/forum/rss/" target="_blank" title="RSS - Форум" rel="nofollow">Форум</a>
      <a href="{{ www_root }}/loads/rss/" target="_blank" title="RSS - Файлы" rel="nofollow">Файлы</a>
      <a href="{{ www_root }}/foto/rss/" target="_blank" title="RSS - Фотографии" rel="nofollow">Фото</a>
   </div>
</span>
</div>
<div>Generated by Atom-M CMS<br>Powered by boriska © 2013</div>
</div>
<noindex style="float:right;"><img src="{{ counter }}" alt=""/></noindex>
</div>
</div>
</body>
</html>