{% if forum_cats %}
{% for category in forum_cats %}
<div class="forum_category">
	  <div class="forum_title"> <div class="forum_name">{{ category.title }}</div> </div>
	 
	  {% if category.forums %}
	<table width="100%" class="forum_table">
	  {% for forum in category.forums %}
	   <tr class="forum_polosa" id="{{ forum.id }}">

	    <td class="forstatus" width="5%">

		<span><img class="iconline" src="{{ forum.icon_url }}" alt=""/></span>
		
		</td>
		<td class="forum_name" width="50%">
		{% if forum.description %}	
		<a class="namefor west animation" href="{{ forum.forum_url }}" title="{{ forum.description }}">{{ forum.title }}</a>
		{% else %}
		
		<a class="namefor animation" href="{{ forum.forum_url }}">{{ forum.title }}</a>
	
		{% endif %}
		    {% if forum.subforums %}
			  <ul class="subforums">
		    {% for subforum in forum.subforums %}
			{% if subforum.description %}
				<li><a class="west" href="{{ www_root }}/forum/view_forum/{{ subforum.id }}" title="{{ subforum.description }}">{{ subforum.title }}</a></li>
			{% else %}
			    <li><a href="{{ www_root }}/forum/view_forum/{{ subforum.id }}">{{ subforum.title }}</a></li>
			{% endif %}
			
		    {% endfor %}
			  </ul>
		   {% endif %}
		    
			
		</td>
		<td class="theme_detal" width="15%">
		{% if forum.themes %}
		
		
		
		<ul>
			<li>{{ forum.themes }} Тем</li>
			<li>{{ forum.posts }} Ответов</li>
		</ul>
		
	
		
			{% endif %}
			</td>
		<td class="forum_message" width="30%">
		{% if forum.admin_bar %}<div class="theme_admin">{{ forum.admin_bar }}</div>{% endif %}
		{{ forum.last_post }}  
		
		</td>
        </tr>
	  {% endfor %}
</table>
	  {% endif %}
	  
</div>
{% endfor %}
{% else %}
<div class="informs">Не создано ни одного раздела.</div>
{% endif %}