    <div class="top_meta">
	 <div class="forum_add_theme">
{% if add_link %}
<a class="animation" href="{{ www_root }}/forum/view_theme/{{ theme.id }}#sendForm">Ответить</a>
{% endif %}
{% if closed_theme %}
       <a class="animation" style="background:#ba2525;color:#fff;cursor: default;">Тема закрыта</a>
        {% endif %}
	
	</div>
	<ul class="Forum_metas">
	<li class="meta">{{ meta }}</li> 
	<li>{{ navigation }}</li>
	</ul>
	
	
	
	</div>
	
	
	
	<div class="forum_category">
	   <div class="forum_title"> <div class="forum_name">{{ theme.title }}</div> <div style="float:right">{{ admin_bar }}</div> </div>
	   
	 

	 
	<div class="forumhead">
	  {% if theme.poll %}
	    
	      {{ theme.poll }}
	  {% else %}
	      <div class="forheadpost"></div>
		  
	  {% endif %}
	  </div>
	  
	  {% for post in posts %}
	  <div class="forum_post" id="post{{ post.post_number }}">
	   
	   <div class="post_sub">
	   <div class="author_post">
	   <a class="postusername west" {{ editor_forum_name }} title="ответить пользователю: {{ post.author.name }}">{{ post.author.name }}</a> 
	  </div>
	  <div class="date_post">Дата: {{ post.time }} <a href="javascript://" onClick="prompt('Ссылка к сообщению','{{ post.post_number_url }}');return false;">ссылка на {{ post.post_number }} пост </a></div>
	  </div>
	  
	  <div class="forum_fPost">
	  <div class="fPost_left">
	  <div class="fPost_avatar"> <img class="south" title="Аватар {{ post.author.name }}" src="{{ post.author.avatar }}" alt=""/> 
	  <div class="fPost_status west" title="Пользователь сейчас на сайте">  {% if post.author.status_line == 'Online' %} ON {% endif %}</div>
	  </div>
	  <ul class="fPost_listing">
	  <li>Группа: {{ post.author.status_title }}</li>
	  <li>Звание: {{ post.author.rank }}</li>
	  <li>Сообщений:  {{ post.author.posts }}</li>
	  <li>Предупреждения:  <a href="javascript:void(0)" onClick="showFpsWin('{{ www_root }}/users/warnings_story/{{ post.author.id }}', '', 'История предупреждений ({{ post.author.name }})');"> {{ post.author.warnings }}</a> 
	  {% if checkAccess(['users','users_warnings']) %}
	  <a class="warning_add" href="javascript:void(0)" onClick="$('#addWarning_{{ post.author.id }}').show();">+</a>
	  {% endif %}
	  </li>
      </ul>
	  <div class="fPost_reputation"> 
	  {% if fps_user_id == post.id_author %}
	  {% else %}
	  {% if checkAccess(['users','set_rating']) %}
	  <a href="javascript:void(0)" onClick="$('#setRating_{{ post.author.id }}').show();" class="fPost_plus animation"> + </a>
	  <a href="javascript:void(0)" onClick="$('#setRating_{{ post.author.id }}').show();" class="fPost_minus animation"> - </a>
	  {% endif %}
	  {% endif %}  
	   

{% if post.author.rating %} {% if post.author.rating >= 1 %}
<div class="reputation_num good"><a class="south" title="Репутация пользователя" href="javascript:void(0)" onClick="showFpsWin('{{ www_root }}/users/votes_story/{{ post.author.id }}', '', 'История рейтинга ({{ post.author.name }})');"> Репутация: {{ post.author.rating }}</a></div>
{% else %}
<div class="reputation_num bad"><a class="south" title="Репутация пользователя" href="javascript:void(0)" onClick="showFpsWin('{{ www_root }}/users/votes_story/{{ post.author.id }}', '', 'История рейтинга ({{ post.author.name }})');"> Репутация: {{ post.author.rating }}</a></div>
{% endif %}{% else %}
<div class="reputation_num normal"><a class="south" title="Репутация пользователя" href="javascript:void(0)" onClick="showFpsWin('{{ www_root }}/users/votes_story/{{ post.author.id }}', '', 'История рейтинга ({{ post.author.name }})');"> Репутация: {{ post.author.rating }}</a></div>
 {% endif %}
  </div></div>
  
  <div class="fPost_right">
  <div class="fPost_message">
  {{ post.message }}
  {% if post.attachment %}
 <div class="attaches"><div>Прикрепленные файлы:</div>{{ post.attachment }}</div>{% else %}<br />
 {% endif %}
 {% if post.editor_info %}
<div class="edit">{{ post.editor_info }}</div>
{% endif %}

{% if post.author.signature %}
<div class="fPost_signature">{{ post.author.signature }}</div>
{% endif %}
 
  </div>
  </div>
 
  </div>
 <div class="fPost_bottom">
{% if post.id_author != 0 %}
<a href="{{ www_root }}/users/info/{{ post.id_author }}" id="forpostuserlinks" class="fPost_button animation">Профиль</a>
<span  {{ editor_forum_quote }}><a class="fPost_button animation">Цитировать</a></span>
{% endif %}
 {% if fps_user_id == post.id_author %}
 {% else %}
<a href="{{ www_root }}/users/send_pm_form/{{ post.id_author }}" class="fPost_button animation">ЛС</a>
<a href="{{ www_root }}/users/send_mail_form/{{ post.id_author }}" class="fPost_button animation">Mail</a>

{% endif %}	  
 
<div class="right"> 

 {% if post.edit_link %}<a href="{{ www_root }}/forum/edit_post_form/{{ post.id }}" class="fPost_button moder_button animation">Изменить</a>{% endif %}
 {% if post.delete_link %}<a onclick="if (confirm('Удалить сообщение №{{ post.post_number }} ?')) {$(this).attr({href: '{{ www_root }}/forum/delete_post/{{ post.id }}'});sendu(this); return false}" class="fPost_button moder_button animation">Удалить</a>{% endif %}
 <a href="#post1" id="foruptopic" class="fPost_button animation">Подняться вверх</a> </div>

 </div>
</div>

		<div id="setRating_{{ post.author.id }}" class="fps-fwin" style="display:none;">
			<div class="drag_window">
				<div class="fps-title" onmousedown="drag_object(event, this.parentNode)">Изменения уровня репутации {{ post.author.name }} </div>
				<div onClick="$('#setRating_{{ post.author.id }}').hide()" class="fps-close"></div>
				<div class="fps-cont">
				
					<form id="ratingForm_{{ post.author.id }}">
					<fieldset><legend>Действие: </legend>
						<input type="radio" name="points" value="1" />Повысить уровень репутации на 1<br />
						<input type="radio" name="points" value="0" />Оставить уровень репутации без изменения<br />
						<input type="radio" name="points" value="-1" />Понизить уровень репутации на 1<br />
						</fieldset>
						
						<fieldset><legend>Причина изменения: </legend>
						<textarea class="reson_rating" name="comment"></textarea><br />
						</fieldset>
						
						<input type="button" value="Изменить" onClick="setRating({{ post.author.id }}, 'ratingForm_{{ post.author.id }}');" />
					</form>
					<div id="infomess_{{ post.author.id }}"></div>
				</div>
			</div>
			</div>


			<div id="addWarning_{{ post.author.id }}" class="fps-fwin" style="display:none;">
			<div class="drag_window">
				<div class="fps-title" onmousedown="drag_object(event, this.parentNode)">Замечание для <b>{{ post.author.name }}</b></div>
				<div onClick="$('#addWarning_{{ post.author.id }}').hide()" class="fps-close"></div>
				<div class="fps-cont">
					<form id="warningForm_{{ post.author.id }}">
						<fieldset>
							<legend><b>Действие</b></legend>
							<input type="radio" name="points" value="1">[+]Повысить уровень замечаний<br />
							<input type="radio" name="points" value="-1">[-]Понизить уровень замечаний(снять бан)<br />
						</fieldset>
						<fieldset>
							<legend><b>Причина</b></legend>
							<textarea style="width:96%;" name="cause"></textarea>
						</fieldset>
						<fieldset>
							<legend><b>Бан</b></legend>
							<input style="width:50px;margin:2px;" type="text" name="cnt" value="" />
							<select style="width:80px;margin:2px;" name="mult">
								<option value="h">Часа</option>
								<option value="d">Дней</option>
								<option value="w">Недель</option>
								<option value="m">Месяцев</option>
								<option value="y">Лет</option>
							</select>
							<br/>
							<input type="checkbox" name="permanently" value="1" />Навсегда
						</fieldset>
						<fieldset>
							<legend><b>Уведомление</b></legend>
							<input type="checkbox" name="noticepm" value="1" />Личные сообщения
						</fieldset>
						<fieldset>
							<input type="button" value="Отправить" onClick="addWarning_({{ post.author.id }}, 'warningForm_{{ post.author.id }}');" />
						</fieldset>
					</form>
					<div id="winfomess_{{ post.author.id }}"></div>
				</div>
			</div>
			</div>
			{% endfor %}
		  </div>
	
<div class="forum_pagination">
   {{ pagination }}
    </div>
	
	
{{ reply_form }}